# Basic Commands

In [1]:
# Single line comment

# If we shadows have offended,
# Think but this, and all is mended,
# That you have but slumbered here
# While these visions did appear.

print("If we shadows have offended,")
print("Think but this, and all is mended,")
print("That you have but slumbered here")
print("While these visions did appear.")

If we shadows have offended,
Think but this, and all is mended,
That you have but slumbered here
While these visions did appear.

In [2]:
#multiline comment


"""
Multiline comment
Cowards die many times before their deaths,
The valiant never taste of death but once.
"""
print("Example of Multiline comment")

Example of Multiline comment

In [3]:
input("What day is it today?")

What day is it today? apple

'apple'

In [4]:
#input keyword

print("Today is ",input("What day is it today?"))

What day is it today? apple

Today is  apple

In [5]:
#Python as a calculator


#Addition

222+57

279

In [6]:
#Subtraction

222 -57

165

In [7]:
# Multiplication

222*58

12876

In [8]:
# Division

222/57

3.8947368421052633

In [9]:
#Division

99/10

9.9

In [10]:
#Python as a calculator altogether


#Addition

222+56

#Subtraction

222 -56

# Multiplication

222*56

# Division

222/59

3.76271186440678

In [2]:
# Print command

print("Hello World!")

Hello World!

In [12]:
#Python as a calculator


#Addition

print(222+56)

#Subtraction

print(222 -56)

# Multiplication

print(222*56)

# Division

print(222/56)

278
166
12432
3.9642857142857144

# Variables

In [15]:
# Vitals

height = 1.62
weight = 65.5 # case sensitive

height
weight
print("height is",height,"weight is",weight)

height is 1.62 weight is 65.5

In [18]:
# Calculate BMI

#bmi = weight/Height*Height

bmi = weight/height**2

print(bmi)

24.95808565767413

In [19]:
#user inputs

firstname = input("Enter your first name:")
lastname = input("Enter your last name:")
full_name = firstname +" " +lastname
print(full_name)

Enter your first name: pp
Enter your last name: kk

pp kk

In [21]:
#user input - subtraction

year_of_birth = input("Enter your year of  birth:")
current_year = input("What is the current year? ")
Age = int(current_year) - int(year_of_birth) #input always stores data as string by default
# Age = current_year - year_of_birth
print("Your age is ", Age)

Enter your year of  birth: 1999
What is the current year?  2024

Your age is  25

In [22]:
#unpacking Assigning multiple variables with values together

name,age,phonenumber = "Anjali",22,8888884564
print(name)
print(age)
print(phonenumber)

Anjali
22
8888884564

# Data Types

In [23]:
type(bmi)

float

In [24]:
#Float example

float1 = 22/7

type(float1)

float

In [25]:
#Integer Example

a = - 5000008
type(a)

int

In [26]:
#complex Example

b = 3 + 3j
type(b)

complex

In [27]:
#List Exampleit can be any type

list1 = [1,3.0,"give",1]
type(list1)

list

In [28]:
#Tuple Example

tuple1 = (1,3,"give")
type(tuple1)

tuple

In [29]:
# string example

string1 = "This is a sentence with more than 1 characters."
type(string1)

str

In [30]:
#Boolean example

bool1 = False
type(bool1)

bool

In [31]:
# Set example

colors = { "Yellow","Orange", "Purple", "Blue"}
type(colors)

set

In [32]:
# Dictionary Example

myempl = {
"name" : "Jane Jeffers",
 "Age": 30,
 "Designation": "Data Analyst - Level 1",
 "Status": "Active"

}

type(myempl)

dict

# Operators

In [33]:
# Arithmetic Operators - Modulus

x = 55 # Dividend
y = 6 # Divisor
x%y # Remainder
# x//y # Quotient

1

In [34]:
# Arithmetic Operators - Exponentiation

y=3
2**y

8

In [35]:
# Assignment Operators  += plus

x=10
x += 3 # x = x+3
print(x)

13

In [36]:
# Assignment Operators  **= exponential

x=2
x **= 3
print(x)

8

In [37]:
#Relational operators - answers in boolean == is equal to

x = 6
y = 6
print(x==y)

True

In [38]:
#Relational operators - answers in boolean != is not equal to

x = 6
y = 6
print(x!=y)

False

In [39]:
#Logical Operator - and &

x = 7
y = 8
x > 5 and y>10  # is x greater than 5 AND y greater than 10

False

In [40]:
#Logical Operator - or

x = 7
y = 8
x>5 or y>10  # is x greater than 5 AND y greater than 10

True

In [41]:
#logical Operator - not

x = 10

not(x<9)

True

In [42]:
# Membership Operator - in

List1 = [1,2,3,4,5]
x = 5
x in List1

True

In [43]:
# Membership Operator - not in

List1 = [1,2,3,4,5]
x = 5
x not in List1

False

In [44]:
# Identity Operator - is
x = 8
y = 8

x is y

True

In [45]:
# Identity Operator - is not

x = 8
y = 10

x is not y

True

# Lists

In [46]:
# Empty List

empty_list = []
type(empty_list)

list

In [50]:
# Examples of a List
# just assigning not displaying 
Names = ["Priti", "Asha", "Nirali"]
Ages = [25,16,31]

In [51]:
# Growing a list using append method.

Names.append("Kirti")
Names

['Priti', 'Asha', 'Nirali', 'Kirti']

In [52]:
# Truncating a list using pop method.

Names.pop() # without index that defaults to the last element
Names

['Priti', 'Asha', 'Nirali']

In [53]:
# Truncating a list using pop method and index

Ages.pop(1)
Ages

[25, 31]

In [54]:
#Growing a list using plus - 2

Total_ages = Ages + [56,96]
Total_ages

[25, 31, 56, 96]

In [56]:
#Growing a list using plus

print(Ages)
Ages += [77,90] #Ages = Ages + [77,90]
print(Ages)

[25, 31, 77, 90]
[25, 31, 77, 90, 77, 90]

In [57]:
# Accessing a list based on index

Names[0]

'Priti'

In [58]:
# Accessing a list based on negative index
print(Names)
print(Names[-1])

['Priti', 'Asha', 'Nirali']
Nirali

In [59]:
#method len

len(Names)

3

In [60]:
#slicing list
Names.append("Shabnam")
Names.append("Neeti")
Names.append("Sharmila")
print(Names)
print(Names[3:5])

['Priti', 'Asha', 'Nirali', 'Shabnam', 'Neeti', 'Sharmila']
['Shabnam', 'Neeti']

In [61]:
#Slicing till index

Names[:2]

['Priti', 'Asha']

In [62]:
# Using remove method to remove element based on element value

print(Names)
Names.remove("Sharmila")
print(Names)

['Priti', 'Asha', 'Nirali', 'Shabnam', 'Neeti', 'Sharmila']
['Priti', 'Asha', 'Nirali', 'Shabnam', 'Neeti']

In [65]:
# count method (it returns zero if the element is not there

listnum = [12,54,23,55,98,65,35,88,55,12,74,58,55,1]

listnum.count(55)

3

In [66]:
#Sorting List using sorted() function

print(sorted(Names))
# print(sorted(Names,reverse=True))
print(Names)

['Asha', 'Neeti', 'Nirali', 'Priti', 'Shabnam']
['Priti', 'Asha', 'Nirali', 'Shabnam', 'Neeti']

In [67]:
#sorting list using sort method

Names.sort()
# Names.sort(reverse = True)
Names

['Asha', 'Neeti', 'Nirali', 'Priti', 'Shabnam']

# Tuple & Sets

In [68]:
#Multiple Variable assignment & Tuple creation by packing tuple accepts different datatypes

pack = 55,"Mary", False,8.9
print(pack)
type(pack)

(55, 'Mary', False, 8.9)

tuple

In [70]:
#length of tuple using len function

cars =("Honda","Nissan","Toyota","Ford","Mazda","Kia")
len(cars)
# type(cars)

6

In [71]:
#Indexed Tuple
cars[0]

'Honda'

In [74]:
#Immutable Tuple
#cars[0] = "Hyundai"

In [75]:
# index method

hp = (433,525,846,1000,233,125)
hp.index(525)

1

In [76]:
#function sorted

sorted(hp)

[125, 233, 433, 525, 846, 1000]

In [77]:
#function max

max(hp)

1000

In [78]:
#function sum

sum(hp)

3162

In [79]:
#Create a set

luxurycars =  {"BMW","Lexus","Acura","Mercedez-Benz","Infiniti", "Tesla","Audi"}
type(luxurycars)

set

In [80]:
# len function in a set

len(luxurycars)

7

In [81]:
#Grow a set

luxurycars.add("Tesla")
luxurycars

{'Acura', 'Audi', 'BMW', 'Infiniti', 'Lexus', 'Mercedez-Benz', 'Tesla'}

In [85]:
#reduce a set from a random place

print(luxurycars)
luxurycars.pop()
print(luxurycars)

{'Acura', 'Audi', 'Mercedez-Benz', 'BMW', 'Lexus'}
{'Audi', 'Mercedez-Benz', 'BMW', 'Lexus'}

In [86]:
# copy method

newluxcars = luxurycars.copy()
newluxcars

{'Audi', 'BMW', 'Lexus', 'Mercedez-Benz'}

In [87]:
#remove method for set

print(luxurycars)
luxurycars.remove('BMW')
print(luxurycars)

{'Audi', 'Mercedez-Benz', 'BMW', 'Lexus'}
{'Audi', 'Mercedez-Benz', 'Lexus'}

In [89]:
#Convert a tuple to set

print(type(cars))
cars = set(cars)
type(cars)

<class 'set'>

set

In [90]:
#combine sets by union method

print(cars)
print(luxurycars)
allcars = cars.union(luxurycars)
print(allcars)

# cars + luxurycars

{'Toyota', 'Nissan', 'Honda', 'Ford', 'Kia', 'Mazda'}
{'Audi', 'Mercedez-Benz', 'Lexus'}
{'Audi', 'Mercedez-Benz', 'Kia', 'Mazda', 'Toyota', 'Nissan', 'Honda', 'Ford', 'Lexus'}

# Strings

In [91]:
# Create strings

fav_color = "Turquoise"
fav_smell = str('JaSMIne')
print(type(fav_color))
print(type(fav_smell))

<class 'str'>
<class 'str'>

In [92]:
# length a string

print(len(fav_color))
print(len(fav_smell))

9
7

In [93]:
# Slicing a string
length = len(fav_color)-3
fav_color[:length]

'Turquo'

In [ ]:
# Accessing by indices just like a list

fav_smell[3]

In [100]:
# How to incorporate quotes inside a string

# mydialog = "He said "Hands up!""
mydialog = "He said \"Hands up!\""
mydialog

'He said "Hands up!"'

In [101]:
# Concatenating strings

print("My favorite color is " + fav_color)
print("My favorite smell is " + fav_smell)
faves = fav_color + "," + fav_smell
print(faves)

My favorite color is Turquoise
My favorite smell is JaSMIne
Turquoise,JaSMIne

In [102]:
# Formatting methods

print(fav_color.upper())
print(fav_smell.lower())
print("favorite".title())

TURQUOISE
jasmine
Favorite

In [103]:
#Splitting a string using split method

fave_song = "A long, long time ago , I can still remember how "
fave_song.split(',')

['A long', ' long time ago ', ' I can still remember how ']

In [104]:
# using find method

fave_song.find("long")

2

In [105]:
# Using format method

mysentence = "My favorite song - {song} is sung by -  {artist}".format(song=fave_song,artist="Don McLean")
mysentence

'My favorite song - A long, long time ago , I can still remember how  is sung by -  Don McLean'

In [106]:
#strip method

book = "               Hands - On Machine Learning by Aurelion Geron           "
print(book)
print(book.strip())

               Hands - On Machine Learning by Aurelion Geron
Hands - On Machine Learning by Aurelion Geron

In [107]:
#replace method

mystring = " On a dark dessert highway / Cool wind in my hair / Warm smell of colitas / Rising up through the air."
print(mystring)
print(mystring.replace('dessert','desert'))

 On a dark dessert highway / Cool wind in my hair / Warm smell of colitas / Rising up through the air.
 On a dark desert highway / Cool wind in my hair / Warm smell of colitas / Rising up through the air.

In [108]:
#reverse string

print(fav_color[::-1])
print(book.strip()[::-1])

esiouqruT
noreG noileruA yb gninraeL enihcaM nO - sdnaH